
<body>

<div class="row">
  <div class="wrap-login col-md-4 col-md-offset-4">
    <h1 class="member-logo" >Profile</h1>
    <%= render 'form', employee: @employee %>
  </div>
</div>
<%= link_to 'Back', employees_path %>
</body>