<nav class="navbar navbar-inverse" >
  <div class="container-fluid">

    <!-- Logo -->
    <div class="navbar-header">
      <a class="brand" href="#">
        <img id="brand-image" alt="Website Logo" src="http://communications.olemiss.edu/wp-content/uploads/sites/5/2014/10/stacked-no_stroke-red.png">
      </a>


      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>




    <!-- Menu -->
    <div class="collapse navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/trips/new">New Trip</a></li>
        <li><a href="/trips/current">Current Trip</a></li>
        <li><a href="/trips/past">Past Trips</a></li>
        <li><a href="/help">Contact/Help</a></li>

      </ul>
      <a class="navbar-brand navbar-right">
        OleMiss
      </a>
    </div>

  </div>
</nav>