<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<form>

  <fieldset>
    <p><label for="First Name" class="label">First Name: </label>
      <br>
      <input type="text" class="textstyle" name="firstname" placeholder="First Name">
    </p>
    <br>
    <p>
      <label for="Last Name" class="label" >Last Name: </label>
      <br>
      <input type="text"  class="textstyle" name="lastname" placeholder="Last Name">
    </p>
    <br>
    <p>
      <label for=" Address" class="label" >Address: </label>
      <br>
      <input type="text"  class="textstyle" name="Street Address" placeholder="Address">
    </p>
    <br>
    <p>
      <label for="City" class="label" >City:</label>
      <br>
      <input type="text"  class="textstyle" name="City" placeholder="City">
    </p>
    <br>
    <p>
      <label for="State" class="label" >State: </label>
      <br>
      <input type="text"  class="textstyle" name="state" placeholder="State">
    </p>
    <br>
    <p>
      <label for="Zip" class="label" >Zip Code:</label>
      <br>
      <input type="integer"  class="textstyle" name="ZipCode" placeholder="Zip">
    </p>
    <br>
    <p>
      <label for="SAP #: " class="label" >SAP #: </label>
      <br>
      <input type="integer"  class="textstyle" name="SAP Number" placeholder="SAP Number">
      <br>
    <p> Personal Vehicle (Please Check any of the Below if apply) </p>

    <input type="radio" name="miles" value="Miles less than 200"> Miles less than 200
    <br>
    <input type="radio" name="miles" value= "Miles greater than 201 with Enterprise Comparison"> Miles greater than 201 with Enterprise Comparison
    <br>
    <input type="radio" name="miles" values="Miles less than 200"> Miles less than 200
    <br>
    <br>
    <label for="MS Emplyee " class="label" >MS State Employee? : </label> &nbsp; <input type="radio" name="MS Employee" value="Yes"> Yes
    <input type="radio" name="MS Employee" value="No"> No
    <br>

    <p>
      <label for="Zip" class="label" >Signature</label>
      <br>
      <input type="text" class="textstyle" name="sign" placeholder="Signature">
    </p>
    <br>
    <p>
      <label for="Zip" class="label" >Trip Name</label>
      <br>
      <input type="text" class="textstyle" name="TripName" placeholder="Trip Name">
      <br>
      <button class="button"> <a href= "file:///C:/Users/ravip/Desktop/Travel_Reimbursement_Project/Web_Pages/2nd_Trip_Page.html">Submit & Start Entering Trip Info</a> </button>
  </fieldset>
</form>


</body>
</html>