<!DOCTYPE html>
<html>
<head>
    <style>
        body {background-color: rgb(200,200,200);}

        h1 {
            color: gold;
            Size: 100px;
            text-align: center;
            background-color: Green;
            color:golden;
            padding: 30px;
        }

        p {
            color: blue;
            background-color: White;
            padding: 15px;
        }
        a:link {
            color: green;
            background-color: transparent;
            text-decoration: none;
        }
        a:visited {
            color: black;
            background-color: transparent;
            text-decoration: none;
        }
        a:hover {
            color: red;
            background-color: transparent;
            text-decoration: underline;
        }
        a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
        }

    </style>
</head>
<body>
<h1> Travel Reimbursement Project </h1>
<p title = Apply><a href = "http://procurement.olemiss.edu/travel-reimbursement-forms/" target =  "_blank"> New Travel </p></a>
<p title = "LogIn Hompage"><a href = "file:///C:/Users/ravip/Desktop/Travel_Reimbursement_Project/Log%20In%20Page.htm" target =  "_blank"> LogIn </p></a>
<p title = "University Homepage"><a href = "http://www.olemiss.edu/" target =  "_blank"> Visit </p></a>
<p title = Help><a href = "#" target =  "_blank"> Help </p></a>




</body>
</html>